In [1]:
from stuff import *

/home/lucas/.virtualenvs/fds/local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/lucas/.virtualenvs/fds/local/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

# 1. Dataset selection

In [11]:
# Datset 1
a = 'MFG10YearTerminationData.csv'

# Datset 2
b = 'WA_Fn-UseC_-HR-Employee-Attrition.csv'

# (VERY) simple dataset
c = 'simple_dataset.csv'

file_name = a

Let us have a first look at the dataset...

In [4]:
mlu.print_full(pd.read_csv(file_name), n=6)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2

# 1. Feature mapping
## a) MFG10YearTerminationData mapping

In [13]:
# IDs
employee_id = 'EmployeeID'
record_id = 'record_id'

# Dates
hire_date = 'orighiredate_key'
record_date = 'recorddate_key'
termination_date = 'terminationdate_key'

length_of_service = 'length_of_service'

# Age / birthday
age = 'age'
birth_date = 'birthdate_key'
birth_year = None

# Target
target = 'STATUS'

other_target_fields = ['termreason_desc', 'termtype_desc'] + [target]

# Others
job_title = 'job_title'

# Special field types
special_field_types = {
    'store_name': str
}

## b) WA_Fn-UseC_-HR-Employee-Attrition mapping

In [6]:
# IDs
employee_id = 'EmployeeNumber'
record_id = None

# Dates
hire_date = None
record_date = None
termination_date = None

length_of_service = 'YearsAtCompany'

# Age / birthday
age = 'Age'
birth_date = None
birth_year = None

# Target
target = 'Attrition'
other_target_fields = []

# Others
job_title = 'JobRole'

# Special field types
special_field_types = {}

## c) (Very) Simple dataset mapping

In [ ]:
target = 'attrition'

# Pandora's Box

In [14]:
pandoras_box(file_name, target,
             employee_id=employee_id,
             record_id=record_id,
             hire_date=hire_date,
             record_date=record_date,
             termination_date=termination_date,
             length_of_service=length_of_service,
             age=age,
             birth_date=birth_date,
             birth_year=birth_year,
             other_target_fields=other_target_fields,
             job_title=job_title,
             special_field_types=special_field_types)

(!) Job title enrichment has been performed.

(!) Length of service enrichment has been performed.

(!) Birth year enrichment has been performed.

(!) Generation enrichment has been performed.

Feature selection algorithm
--------------------------------------------------------------------------------
+ store_name (ROC AUC score inc = 45.84%)
+ generation (ROC AUC score inc = 12.32%)
+ STATUS_YEAR (ROC AUC score inc = 1.48%)
+ birth_year (ROC AUC score inc = 0.46%)
+ length_of_service (ROC AUC score inc = 5.80%)
+ age (ROC AUC score inc = 0.39%)
+ job_title2 (ROC AUC score inc = 0.32%)
+ gender_short (ROC AUC score inc = 0.23%)
+ city_name (ROC AUC score inc = 0.26%)
BUSINESS_UNIT has been excluded (ROC AUC score inc = 0.09%)
Feature selection is over.

(LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
           intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
           penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
           verbose=0, warm_start=False),
 {'accuracy': 0.98288188500654516,
  'log_loss': 0.083729293359098511,
  'roc_auc': 0.66879357828573505})

In [15]:
pandoras_box(file_name, target)

Feature selection algorithm
--------------------------------------------------------------------------------
+ termtype_desc (ROC AUC score inc = 100.00%)
orighiredate_key has been excluded (ROC AUC score inc = 0.00%)
Feature selection is over.

(LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
           intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
           penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
           verbose=0, warm_start=False),
 {'accuracy': 1.0, 'log_loss': 2.2229714554477162e-05, 'roc_auc': 1.0})